.contact {
  display: flex;
  width: 100%;
  height: 55px;
  composes: alignmentRow from "./globals.css";
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.contact:hover {
  background-color: #999999;
}

.contact:active {
  background-color: #8a8a8a;
}

.contactUnit {
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  padding: 0 5px 0 15px;
  color: #e7e7e7;
  font-size: 15px;
}

.contactName {
  display: flex;
  composes: alignmentRow from "./globals.css";
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contactMessage {
  width: 100%;
}

.contactUsername {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
